<h2>Restaurants from Florence</h2>
<div>
    <% florenceRestaurants.forEach(restaurant => { %>
     <img src="<%= restaurant.picture %> " alt="restaurantPic">
     <h3><%= restaurant.name  %> </h3>
     <h5><%= restaurant.address %> </h5>
     <p><%= restaurant.description %> </p>
     <span><%= restaurant.price %> </span>
    <% }) %>
</div>

<a href="/create-form"><button type="button">Create</button></a>