<h2>Restaurants from Neapel</h2>
<div>
    <% neapelRestaurants.forEach(restaurant => { %>
     <img src="<%= restaurant.picture %> " alt="restaurantPic">
     <h3><%= restaurant.name  %> </h3>
     <h5><%= restaurant.address %> </h5>
     <p><%= restaurant.description %> </p>
     <span><%= restaurant.price %> </span>
    <% }) %>
</div>
