<h2>Restaurants from Roma</h2>

<% romaRestaurants.forEach(restaurant => { %>
    <div class="restaurantContainer">
        <div class="border border-dark rounded">
            <div class="imageContainer">
                <img src="<%= restaurant.picture %> " alt="restaurantPic" width="300px" height="300px">
            </div>

            <div class="shadow-lg p-3 mb-5 bg-white border border-primary rounded">
                <h3>
                    Name of restaurant:
                    <%= restaurant.name  %>

                </h3>
            </div>

            <div class="shadow-lg p-3 mb-5 bg-white border border-success rounded">
                <h5>
                    Address:
                    <%= restaurant.address %>
                </h5>
            </div>

            <div class="shadow-lg p-3 mb-5 bg-white border border-danger rounded">
                <p>
                    Description:
                    <%= restaurant.description %>
                </p>
            </div>

            <div class="shadow-lg p-3 mb-5 bg-white border border-warning rounded">
                <span>Price: <%= restaurant.price %> </span>

            </div>
        </div>
    </div>
    <% }) %>